# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.sln.docstates
*.rsuser

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

# NuGet
*.nupkg
*.snupkg
packages/

# Publish files
*.publishsettings

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Logs
*.log
logs/